<div id="<%= dom_id est %>">
  <p>
    <strong>Nombre:</strong>
    <%= est.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= est.apellido %>
  </p>

  <p>
    <strong>Carrera:</strong>
    <%= est.carrera %>
  </p>

  <p>
    <strong>Carnet:</strong>
    <%= est.carnet %>
  </p>

</div>
